@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

h1 {
  font-size: 40px;
  line-height: 60px;
}

h2 {
  font-size: 20px;
  line-height: 30px;
  font-weight: 600;
}
li {
  text-indent: 40px;
  color: #F5FEFD;
}


@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
  h1 {
    font-size: 40px;
    line-height: 60px;
  }
  h6 {
    color: #7fff00;
  }
  
}

@media only screen and (max-width: 900px) {
  h1 {
    font-size: 30px;
    line-height: 40px;
  }
  h2{
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;

  }
  p {
    font-size: 15px;
    line-height: 22px;
  }
  li {
    font-size: 14px;
    line-height: 20px;
    color: #F5FEFD;
  }
  
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
